<div class="main">
    <h2>ideas</h2>
      <table class="table_box">
        <tr>
          <th>id</th>
          <th>content</th>
          <th>tag</th>
          <th>cue</th>
          <th>created_at</th>
          <th>updated_at</th>
        </tr>
        <% @ideas.each do |idea| %>
        <tr>
          <td><%= idea.id %></td>
          <td><%= idea.content %></td>
          <td><%= idea.tag %></td>
          <td><%= idea.cue %></td>
          <td><%= idea.created_at %></td>
          <td><%= idea.updated_at %></td>
        </tr>
        <% end %>
      </table>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
</div>
